body {
    font-family: Arial, sans-serif;
    background-image: url(../img/contabilidade.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 1200px;

}


.container {
    width: 350px;
    margin: 0 auto;
    padding: 60px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 120px;
    margin-left: center;

}

.c2 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}



.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.container button:hover {
    background-color: #45a049;
}

.escritas {
    margin-left: -200px;
}

.escrita {
    margin-left: -250px;
}

.escrit {
    margin-left: -300px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    cursor: pointer;
}

.phone-input {
    padding: 5px;
    font-size: 16px;
}