body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(../img/doisboss.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}


.container {
    width: 350px;
    margin: 0 auto;
    padding: 90px;
    background-color: darkgray;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px;
    margin-left: center;

}

    .container input[type="text"],
    .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.container button:hover {
    background-color: #45a049;
}
.descrição{
    margin-left: -250px;
}
.descrição1{
    margin-left: -210px;
}
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}